@using ContactManagerApp.Models
@model List<ContactManagerApp.Models.UserRolesViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-color: black; color: white;">
    <h1>Admin Dashboard</h1>
    <a asp-controller="RoleManager" asp-action="Index" class="btn btn-outline-info my-3">Add New Role</a>
<table class="table table-striped">
    <thead>
            <tr style="color: #04FFFB;">
                <th>Name</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr style="color: #04FFFB;">
                <td>@user.FirstName @user.LastName</td>
                <td>@user.Email</td>
                <td>@string.Join(" , ", user.Roles.ToList())</td>
                    <td>
                        <a class="btn btn-info" asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.UserId">Manage Roles</a>|
                        <a asp-controller="SuperAdmin" asp-action="UserDetails" asp-route-id="@user.UserId" class="btn btn-primary">Details</a>|
                        <form asp-controller="SuperAdmin"  asp-action="DeleteUser" asp-route-id="@user.UserId" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this user?');">Delete</button>
                        </form>
                    </td>
            </tr>
        }
    </tbody>
</table>
</body>
