@model List<ManageUserRolesViewModel>

@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-color:#000000;">
    <form method="post">
        <div class="card" style="background-color:#000000;">
        <div class="card-header">
            <h2 style="color: #04FFFB;">Manage User Roles</h2>
                <span style="color: #04FFFB;">Add/Remove Roles for User / @ViewBag.UserName.</span>
        </div>
            <div class="card-body" style="color: #04FFFB;">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].RoleId" />
                    <input type="hidden" asp-for="@Model[i].RoleName" />
                    <input asp-for="@Model[i].Selected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].Selected">
                        @Model[i].RoleName
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
                <input type="submit" value="Update" class="btn btn-primary" style="width:auto" />
            <a asp-action="Dashboard" asp-controller="SuperAdmin" class="btn btn-secondary" style="width:auto">Cancel</a>
        </div>
    </div>
</form>
</body>